{% load static %}

<div class="container">
    
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#programme-{{ item.identifiant }}" style="width: 100%;">

    
        <div class="row align-items-center">
            <div class="col-sm-1" >
                <img
                src="{% static 'tv/images/channels/' %}{{ item.channel }}.png" 
                alt="{{ item.channel }}" 
                title="{{ item.channel }}"
                >    
            </div>

            <div class="col-sm-1" >{{ item.hdeb }}</div>
            <div class="col-sm-1" style="font-size:small  ; text-align: left;" >{{ item.genre }}</div>
            <div class="col-sm-7" style="font-size:x-large  ; text-align: left;" >{{ item.title }}</div>
            <div class="col-sm-1" >{{ item.duree }}</div>
            <!-- <div class="col-sm-1" >{{ item.display_date }}</div> -->
        </div>

    </button>

    <div id="programme-{{ item.identifiant }}" class="collapse" style="padding: 10px;">
        
        <table>
            <tr>                
                <td style="padding: 10px;"><img class="img-rounded" src="{{item.visuel}}" height="200px"></td>
                <td style="padding: 10px;">
                   {{ item.description }}                           
                </td>
            </tr>
        </table>        
    </div>
  </div>