{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block script %}

<script>
    // Fonction pour cocher toutes les cases à cocher
    function checkAll(valeur) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = valeur;
        }
        soumettreFormulaire();
    }

    function soumettreFormulaire() {
        document.getElementById('mon-formulaire').submit();
    }

</script>
{% endblock %}



{% block content %}

<h2>
    {{title}}
    <button type="button" class="btn" onclick="checkAll(true)">Check All</button>
    <button type="button" class="btn" onclick="checkAll(false)">Uncheck All</button>

</h2>

<hr>

<form method="POST" id="mon-formulaire">
    {% csrf_token %}

    <ul class="list-unstyled card-columns" style="column-count: 3;">
        {% for item in items %}
        <li>            
            <input type="checkbox" value="{{item.code}}" name="chkbox" id="{{item.code}}" onclick="soumettreFormulaire()" {% if item.is_pref %} checked {% endif %} >
            <label for="{{item.code}}">{{ item.name }}</label>
        </li>
        {% endfor %}
    </ul>

    
    <!-- <div style = "text-align: center;">
        <input type="submit" name="update" value="Valider" class="btn btn-default">
    </div> -->

</form>


{% endblock %}