{% extends 'base.html' %}
{% load static %}
{% block title %}Mise à jour{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}

<script>
    $(document).ready(function() {
        function updateProgress() {
            $.ajax({                           
                    url: 'http://localhost:8000/tv/get_progress', 
                    type: "GET", 
                    success: function(data) 
                        {
                            txt = document.getElementById("progress_txt");
                            if(data==0) 
                                txt.textContent = '';
                            else
                                txt.textContent = data + '%';
                        }});
        };
        setInterval(updateProgress, 300);
    });
</script>

<table>    
    {% for item in datas %}        
    <tr>
        <td style="padding: 5px;">{{ item.titre }}</td>        
        <td style="padding: 5px;">{{ item.value }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<p><a href="https://xmltvfr.fr/xmltv/xmltv_tnt.xml">Source</a></p>
<form method="POST">
    {% csrf_token %}
    <input type="submit" name="update_programmes" value="Maj programmes" class="btn btn-default">    
    <input type="submit" name="update_movies_infos" value="Maj Films ({{ film_to_update_count }})" class="btn btn-default">     
    <label id="progress_txt" style="color: rgb(1, 11, 20); margin: 5;"/>    
</form>



{% endblock %}